# Build output
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb

# ReSharper
_ReSharper*/
*.DotSettings.user

# NuGet
packages/
*.nupkg
project.lock.json

# Publish output
publish/
*.pubxml
*.pubxml.user

# Windows
Thumbs.db
Desktop.ini
